.add-todo-container {
  margin-bottom: 1em;
}

.add-todo-input {
  display: flex;
  gap: 1em;
}

.text-help {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.add-todo-container input {
  flex-grow: 1;
  padding: 0.5em 1em;
}

.todo-item {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px gainsboro
}

.todo-item label {
  margin-right: 2em;
}

.is-disabled {
  cursor: not-allowed;
}
